{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 2%, not dead",
        "useBuiltIns": "usage",
        "corejs": "3.37",
        "shippedProposals": true
      }
    ],
    "@emotion/babel-preset-css-prop",
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic", "importSource": "@emotion/react" }]
  ]
}
